<template>
    <v-container fluid>
        <v-row justify="center">
            <v-col class="text-center">
                <h1 class="text-heading font-weight-regular">
                    Regular Expression
                    <v-icon large class="ma-2">mdi-arrow-left-right</v-icon>
                    Non-deterministic Finite Automata
                </h1>
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <v-text-field
                    label="Regex"
                    outlined
                    counter
                    clearable
                    shaped
                    prepend-inner-icon="mdi-regex"
                    append-outer-icon="mdi-state-machine"
                    @click:append-outer="createNFA"
                    v-model="regex"
                ></v-text-field>
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <v-btn
                    large
                    block
                    outlined
                    color="primary"
                    @click="revert"
                    :disabled="!tapeLoaded"
                    ><v-icon large left>mdi-chevron-left</v-icon>Previous</v-btn
                >
            </v-col>
            <v-col>
                <v-btn
                    large
                    block
                    outlined
                    color="primary"
                    @click="consume"
                    :disabled="!tapeLoaded"
                    >Next <v-icon large right>mdi-chevron-right</v-icon></v-btn
                >
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <v-card :loading="loading" loader-height="10">
                    <v-card-text>
                        <v-card-title>NFA Diagram</v-card-title>
                        <p v-html="diagram"></p>
                    </v-card-text>
                    <v-card-text v-if="nfa">
                        <span class="text-overline primary--text"
                            >Current Regex</span
                        >
                        <p class="text-h3">
                            {{ tape }}
                        </p>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>
<script>
import regParser from 'automata.js';
import Viz from 'viz.js';
import workerURL from 'file-loader!viz.js/full.render.js';

export default {
    name: 'Regex2NFA',
    data: () => ({
        viz: null,
        regex: null,
        tape: '',
        tapeLoaded: false,
        diagram: null,
        index: 1,
        nfa: null,
        loading: false,
    }),
    created() {
        this.viz = new Viz({ workerURL });
    },
    watch: {
        regex() {
            this.tapeLoaded = false;
        },
        tape(newValue) {
            this.loading = true;
            let parser = new regParser.RegParser(newValue);
            try {
                this.nfa = parser.parseToNFA();
                this.loading = false;
            } catch (err) {
                this.loading = 'red';
            }
            this.viz
                .renderSVGElement(this.nfa.toDotScript())
                .then(element => (this.diagram = element.outerHTML));
        },
    },
    methods: {
        createNFA() {
            this.tapeLoaded = true;
            this.index = 0;
        },
        consume() {
            this.index =
                this.tape.length == this.regex.length
                    ? this.index
                    : this.index + 1;
            this.tape = this.regex.substring(0, this.index);
        },
        revert() {
            this.index = this.tape.length ? this.index - 1 : 0;
            this.tape = this.regex.substring(0, this.index);
            if (this.index == 0) {
                this.tapeLoaded = false;
                this.loading = false;
                this.tape = '';
            }
        },
    },
};
</script>