<template>
    <v-container fluid>
        <v-row>
            <v-col>
                <v-data-table
                    :headers="headers"
                    :items="transitions"
                    :loading="loading"
                    class="elevation-1"
                    multi-sort
                    show-group-by
                >
                    <template v-slot:top>
                        <v-toolbar flat>
                            <v-toolbar-title class="text-overline"
                                ><v-icon left large>mdi-sigma-lower</v-icon
                                >Transition Function</v-toolbar-title
                            >
                            <v-divider class="mx-4" inset vertical></v-divider>
                            <v-spacer></v-spacer>
                            <v-dialog v-model="dialog" max-width="500px">
                                <template v-slot:activator="{ on, attrs }">
                                    <v-btn
                                        color="primary"
                                        dark
                                        class="mb-2"
                                        v-bind="attrs"
                                        v-on="on"
                                    >
                                        <v-icon left large>mdi-plus</v-icon>
                                        Transition
                                    </v-btn>
                                </template>
                                <v-bottom-sheet v-model="dialog" inset>
                                    <v-sheet class="text-center" height="500px">
                                        <v-card flat>
                                            <v-card-title>
                                                <span class="headline">
                                                    <v-icon left
                                                        >mdi-sigma-lower</v-icon
                                                    >
                                                    {{ formTitle }}
                                                </span>
                                            </v-card-title>
                                            <v-card-text>
                                                <v-container>
                                                    <v-row justify="center">
                                                        <v-col>
                                                            <v-select
                                                                :items="states"
                                                                v-model="
                                                                    editedItem.q_i
                                                                "
                                                                label="From state"
                                                                prepend-inner-icon="mdi-debug-step-out"
                                                                dense
                                                                outlined
                                                            ></v-select>
                                                        </v-col>
                                                        <v-col>
                                                            <v-select
                                                                :items="
                                                                    alphabets
                                                                "
                                                                v-model="
                                                                    editedItem.alphabet
                                                                "
                                                                label="Alphabet"
                                                                prepend-inner-icon="mdi-alpha-a-box"
                                                                dense
                                                                outlined
                                                            ></v-select>
                                                        </v-col>
                                                        <v-col>
                                                            <v-select
                                                                :items="states"
                                                                v-model="
                                                                    editedItem.q_f
                                                                "
                                                                label="To state"
                                                                prepend-inner-icon="mdi-debug-step-into"
                                                                dense
                                                                outlined
                                                            ></v-select>
                                                        </v-col>
                                                    </v-row>
                                                </v-container>
                                            </v-card-text>
                                            <v-card-actions>
                                                <v-spacer></v-spacer>
                                                <v-btn-toggle>
                                                    <v-btn
                                                        color="error"
                                                        @click="close"
                                                    >
                                                        Cancel
                                                    </v-btn>
                                                    <v-btn
                                                        color="success"
                                                        @click="save"
                                                    >
                                                        Save
                                                    </v-btn>
                                                </v-btn-toggle>
                                                <v-spacer></v-spacer>
                                            </v-card-actions>
                                        </v-card>
                                    </v-sheet>
                                </v-bottom-sheet>
                            </v-dialog>
                            <v-dialog v-model="dialogDelete" max-width="500px">
                                <v-card>
                                    <v-card-title class="headline"
                                        >Are you sure you want to delete this
                                        transition?</v-card-title
                                    >
                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn
                                            color="primary"
                                            text
                                            @click="closeDelete"
                                            >Cancel</v-btn
                                        >
                                        <v-btn
                                            color="primary"
                                            text
                                            @click="deleteItemConfirm"
                                            >OK</v-btn
                                        >
                                        <v-spacer></v-spacer>
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>
                        </v-toolbar>
                    </template>
                    <template v-slot:item.alphabet="{ item }">
                        <v-chip large class="ma-2">
                            <strong>{{ item.alphabet }}</strong>
                        </v-chip>
                    </template>
                    <template v-slot:item.actions="{ item }">
                        <v-icon small class="mr-2" @click="editItem(item)">
                            mdi-pencil
                        </v-icon>
                        <v-icon small @click="deleteItem(item)">
                            mdi-delete
                        </v-icon>
                    </template>
                    <template v-slot:no-data>
                        <v-btn color="primary" @click="initialize">
                            Reset
                        </v-btn>
                    </template>
                </v-data-table>
            </v-col>
        </v-row>
        <v-row justify="center">
            <v-col
                v-cloak
                @drop.prevent="addDropFile"
                @dragover.prevent
                class="text-center"
            >
                <v-file-input
                    v-model="file"
                    label="Upload A NFA"
                    outlined
                    filled
                    rounded
                    prepend-icon="mdi-file-upload-outline"
                    @change="uploadNFA"
                ></v-file-input
            ></v-col>
            <v-col class="text-center">
                <v-btn
                    large
                    block
                    outlined
                    rounded
                    color="primary"
                    @click="dialogDownload = true"
                    ><v-icon left>mdi-download-circle-outline</v-icon
                    >Save</v-btn
                >
                <v-dialog v-model="dialogDownload" max-width="290">
                    <v-card>
                        <v-card-title class="headline">
                            Download as
                        </v-card-title>

                        <v-card-text>
                            <v-text-field v-model="downloadFilename" outlined>
                            </v-text-field>
                        </v-card-text>

                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn
                                color="primary"
                                text
                                @click="dialogDownload = false"
                            >
                                Cancel
                            </v-btn>
                            <v-btn color="primary" text @click="saveJSON">
                                Download
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-col>
            <v-col class="text-center">
                <v-btn
                    large
                    block
                    outlined
                    rounded
                    color="primary"
                    @click="draw"
                    ><v-icon left>mdi-draw</v-icon>Draw</v-btn
                >
            </v-col>
        </v-row>
        <v-row justify="center">
            <v-col class="text-center">
                <v-card flat outlined>
                    <v-card-text>
                        <v-card-title class="text-overline font-weight-bold">
                            NFA Diagram
                        </v-card-title>
                        <p v-html="diagram"></p>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
        <v-row>
            <v-col v-if="simulate">
                <NFASimulation
                    :states="states"
                    :transitions="transitions"
                    :alphabets="alphabets"
                    :nfa="nfa"
                />
            </v-col>
            <v-col v-else>
                <DFAConversion
                    :states="states"
                    :transitions="transitions"
                    :alphabets="alphabets"
                    :nfa="nfa"
                />
            </v-col>
        </v-row>
    </v-container>
</template>
<script>
import regParser from 'automata.js';
import Viz from 'viz.js';
import workerURL from 'file-loader!viz.js/full.render.js';
import NFASimulation from './NFASimulation';
import DFAConversion from './DFAConversion';
import { saveAs } from 'file-saver';

export default {
    name: 'TransitionTable',
    props: ['states', 'alphabets', 'nStates', 'final', 'initial', 'simulate'],
    components: { NFASimulation, DFAConversion },
    data: () => ({
        dialog: false,
        loading: false,
        dialogDelete: false,
        dialogDownload: false,
        downloadFilename: 'NFA_' + new Date().toLocaleString(),
        file: null,
        diagram: null,
        headers: [
            {
                text: 'From State',
                align: 'start',
                sortable: true,
                value: 'q_i',
                groupable: true,
            },
            {
                text: 'Alphabet',
                value: 'alphabet',
                sortable: true,
                groupable: true,
            },
            { text: 'To State', value: 'q_f', sortable: true, groupable: true },
            {
                text: 'Action',
                align: 'end',
                sortable: false,
                groupable: false,
                value: 'actions',
            },
        ],
        transitions: [],
        editedIndex: -1,
        editedItem: {
            q_i: '',
            q_f: '',
            alphabet: '',
        },
        defaultItem: {
            q_i: 'q0',
            q_f: 'q0',
            alphabet: 'ε',
        },
    }),
    created() {
        this.viz = new Viz({ workerURL });
    },
    computed: {
        formTitle() {
            return this.editedIndex === -1
                ? 'New Transition'
                : 'Edit Transition';
        },
        trans() {
            let _transn = {};
            this.transitions.forEach(transition => {
                let entry = {};
                if (
                    [transition['q_i']] in _transn &&
                    [transition['q_f']] in _transn[transition['q_i']]
                )
                    entry[transition['q_f']] =
                        _transn[transition['q_i']][transition['q_f']] +
                        ', ' +
                        transition['alphabet'];
                else entry[transition['q_f']] = transition['alphabet'];
                _transn[transition['q_i']] = Object.assign(
                    {},
                    _transn[transition['q_i']],
                    entry
                );
            });
            return _transn;
        },
        nfa() {
            let fsm = new regParser.FSM();
            fsm.initialState = this.initial;
            fsm.numOfStates = this.nStates;
            fsm.type = 'NFA';
            fsm.acceptStates = this.final;
            fsm.transitions = this.trans;
            return fsm;
        },
        traversal() {
            let travTrans = {};
            this.states.forEach(state => {
                let possible_states = {};
                this.alphabets.forEach(alph => (possible_states[alph] = []));
                travTrans[state] = possible_states;
            });
            this.transitions.forEach(transition =>
                travTrans[transition['q_i']][transition['alphabet']].push(
                    transition['q_f']
                )
            );
            return travTrans;
        },
    },

    watch: {
        dialog(val) {
            val || this.close();
        },
        dialogDelete(val) {
            val || this.closeDelete();
        },
    },

    methods: {
        initialize() {
            this.transitions = [];
        },

        editItem(item) {
            this.editedIndex = this.transitions.indexOf(item);
            this.editedItem = { ...item };
            this.dialog = true;
            this.draw();
        },

        deleteItem(item) {
            this.editedIndex = this.transitions.indexOf(item);
            this.editedItem = { ...item };
            this.dialogDelete = true;
        },

        deleteItemConfirm() {
            this.transitions.splice(this.editedIndex, 1);
            this.closeDelete();
            this.draw();
        },

        close() {
            this.dialog = false;
            this.$nextTick(() => {
                this.editedItem = { ...this.defaultItem };
                this.editedIndex = -1;
            });
        },

        closeDelete() {
            this.dialogDelete = false;
            this.$nextTick(() => {
                this.editedItem = { ...this.defaultItem };
                this.editedIndex = -1;
            });
        },

        save() {
            if (this.editedIndex > -1) {
                Object.assign(
                    this.transitions[this.editedIndex],
                    this.editedItem
                );
            } else {
                this.transitions.push(this.editedItem);
            }
            this.close();
            this.draw();
        },
        draw() {
            this.loading = true;
            var fsm = this.nfa;
            console.log(fsm.toDotScript());
            this.viz
                .renderSVGElement(fsm.toDotScript())
                .then(element => (this.diagram = element.outerHTML));
            this.loading = false;
        },
        saveJSON() {
            var NFM = {};
            NFM['states'] = this.states;
            NFM['alphabets'] = this.alphabets;
            NFM['nStates'] = this.nStates;
            NFM['final'] = this.final;
            NFM['initial'] = this.initial;
            NFM['transitions'] = this.transitions;
            const data = JSON.stringify(NFM);
            // console.log(data)
            const blob = new Blob([data], { type: 'text/plain' });
            let a = {};
            a.download = this.downloadFilename + '.json';
            a.href = window.URL.createObjectURL(blob);
            this.dialogDownload = false;
            saveAs(a.href, a.download);
        },
        init_upload(NFM) {
            this.$emit('upload_nfa', NFM);
            this.transitions = NFM.transitions;
            console.log(NFM);
            this.draw();
        },
        uploadNFA(file) {
            console.log(file);
            this.file = file;
            var reader = new FileReader();
            reader.onload = f => {
                this.init_upload(JSON.parse(f.target.result));
            };
            reader.readAsText(this.file);
        },
        addDropFile(e) {
            this.file = e.dataTransfer.files[0];
            var reader = new FileReader();
            reader.onload = f => {
                this.init_upload(JSON.parse(f.target.result));
            };
            reader.readAsText(this.file);
        },
    },
};
</script>